<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
        <!--D:\micro\micro-service\micro-system-center\micro-mapper\micro-test-mapper>mvn mybatis-generator:generate -Dmybatis.generator.configurationFile=src/test/resources/mybatis-generatorConfig.xml-->

<!-- Mybatis生成Mapper配置文件 mvn mybatis-generator:generate -Dmybatis.generator.configurationFile=src/test/resources/mybatis-generatorConfig.xml -->
<generatorConfiguration>

    <classPathEntry location="D:\maven\jar\mysql\mysql-connector-java\5.1.34\mysql-connector-java-5.1.34.jar"/>

    <context id="DB2Tables" targetRuntime="MyBatis3"
             defaultModelType="flat">
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>
        <!-- <plugin type="org.mybatis.generator.plugins.RowBoundsPlugin" /> -->

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://127.0.0.1:3306/test?characterEncoding=UTF-8" userId="root"
                        password="123456">
        </jdbcConnection>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.entity"
                            targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mappers/generate"
                         targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="com.mapper.generate" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <table tableName="vin_log" domainObjectName="VinLog"
               delimitIdentifiers="true" delimitAllColumns="true">
            <generatedKey column="id" sqlStatement="MySql" identity="true"
                          type="post"/>
        </table>


        <table tableName="oauth_resource" domainObjectName="OauthResource"
               delimitIdentifiers="true" delimitAllColumns="true">
            <generatedKey column="resource_id" sqlStatement="MySql" identity="true" type="post"/>
        </table>
        <table tableName="oauth_client_details" domainObjectName="OauthClientDetails"
               delimitIdentifiers="true" delimitAllColumns="true">
            <generatedKey column="id" sqlStatement="MySql" identity="true" type="post"/>
        </table>
        <table tableName="oauth_system" domainObjectName="OauthSystem"
               delimitIdentifiers="true" delimitAllColumns="true">
            <generatedKey column="system_id" sqlStatement="MySql" identity="true" type="post"/>
        </table>
        <table tableName="oauth_system_resource" domainObjectName="OauthSystemResource"
               delimitIdentifiers="true" delimitAllColumns="true">
            <generatedKey column="oauth_system_resource_id" sqlStatement="MySql" identity="true" type="post"/>
        </table>
        <table tableName="user_role_resource" domainObjectName="UserRoleResource"
               delimitIdentifiers="true" delimitAllColumns="true">
            <generatedKey column="role_resource_id" sqlStatement="MySql" identity="true" type="post"/>
        </table>
        <table tableName="user_role_relation" domainObjectName="UserRoleRelation"
               delimitIdentifiers="true" delimitAllColumns="true">
            <generatedKey column="user_role_id" sqlStatement="MySql" identity="true" type="post"/>
        </table>
        <table tableName="user_base" domainObjectName="UserBase"
               delimitIdentifiers="true" delimitAllColumns="true">
            <generatedKey column="user_id" sqlStatement="MySql" identity="true" type="post"/>
        </table>
        <table tableName="user_role" domainObjectName="UserRole"
               delimitIdentifiers="true" delimitAllColumns="true">
            <generatedKey column="user_id" sqlStatement="MySql" identity="true" type="post"/>
        </table>



    </context>
</generatorConfiguration>
